$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'directives/editTeam/editTeam.scss';
@import 'directives/game/game.scss';
@import 'directives/team/team.scss';
@import 'oldVersions/dreddGame/dreddGame.scss';
@import 'oldVersions/games/games.scss';
@import 'oldVersions/main/main.scss';
@import 'oldVersions/scoreboard/scoreboard.scss';
@import 'pages/controls/controls.scss';
@import 'pages/games/games.scss';
@import 'pages/teams/teams.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
// endinjector
