<!--
<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Hello, Hello!</h1>
  </div>
</header>
-->

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Controls:</h1>
      <p class="input-group">
        Current Team
        <select ng-model="main.currentTeam" >
          <option ng-repeat="team in main.game.teams" value="{{$index}}">{{main.getTeamNameById(team)}}</option>
        </select>
      </p>
      <p class="input-group">
        <button type="submit" class="btn btn-primary" ng-click="main.addEvent(main.game, {team:main.currentTeam, type:'p', value:+10})">ball type 1 (+10 pts)</button>
        <button type="submit" class="btn btn-primary" ng-click="main.addEvent(main.game, {team:main.currentTeam, type:'p', value:+20})">ball type 2 (+20 pts)</button>
        <button type="submit" class="btn btn-primary" ng-click="main.addEvent(main.game, {team:main.currentTeam, type:'m', value:3})">flying (&times;3)</button>
        <button type="submit" class="btn btn-primary" ng-click="main.addEvent(main.game, {team:main.currentTeam, type:'m', value:5})">robot (&times;5)</button>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Current Scores:</h1>
      <p>
        <ul>
          <li ng-repeat="team in main.game.teams">{{main.getTeamNameById(team)}}: {{main.game.currentState.scores[$index]}}</li>
        </ul>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Events:</h1>
      <ul class="nav nav-tabs nav-stacked" ng-repeat="event in main.game.events">
        <li>type: {{event.type}}; value: {{event.value}}; team: {{main.getTeamNameById(main.game.teams[event.team])}} {{event.previousState}}<button type="button" class="close" ng-click="main.deleteEvent(main.game,$index)">&times;</button></li>
      </ul>
    </div>
  </div>

</div>

<footer></footer>
