<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-lg-12">


      <ul class="list-inline">
        <li ng-repeat="teamId in gameCtrl.game.teams | filter: '' track by $index" ng-init="$index">
          <button type="button" class="btn" ng-class="gameCtrl.team == teamId ? 'btn-primary' : 'btn-default'" ng-click="gameCtrl.setTeam(teamId)">
          {{ gameCtrl.teamsService.getTeamById(teamId).name }}
          ({{ gameCtrl.game.currentState.scores[$index] }})
          </button>
        </li>
      </ul>

      {{ gameCtrl.currentGameTime | gameTime: gameCtrl.game }}
      <button type="button" class="btn btn-primary" ng-hide="gameCtrl.game.clockRunning" ng-click="gameCtrl.submitPsuedoAction('start')">Start</button>
      <button type="button" class="btn btn-warning" ng-hide="gameCtrl.game.clockRunning" ng-click="gameCtrl.submitEdit({gameTimeAtEpoch: 0})">Reset</button>
      <button type="button" class="btn btn-danger" ng-show="gameCtrl.game.clockRunning" ng-click="gameCtrl.submitPsuedoAction('stop')">Stop</button>
      
      <ul class="list-inline">
        <li ng-repeat="action in gameCtrl.actionPrototypes" >
          <button type="button" class="btn btn-primary" ng-disabled="gameCtrl.teamIdx < 0" ng-click="gameCtrl.submitAction(action)">
            {{ action | action:(gameCtrl.game.currentState):(gameCtrl.teamIdx) }}
          </button>
        </li>
      </ul>
      
      
      <h3>Events</h3>
      <ul>
        <li ng-repeat="action in gameCtrl.game.actions" >
          {{action | action}} ({{gameCtrl.teamsService.getTeamById(action.team).name}} @ {{action.gameTime | gameTime:gameCtrl.game}})
          <button type="button" class="btn btn-danger" ng-click="gameCtrl.deleteAction(action._id)">
            Remove Event
          </button>
        </li>
      </ul>
      

      
      
    </div>
  </div>
</div>

<footer></footer>
