.controls {
  .time {
    font-size: 2em;
  }
  
  .row {
    margin-bottom: 15px;
  }
  
  .team-selected {
    border: solid 4px #222222;
  }
  
  .scoring-button-container {
    button { margin-bottom: 10px; }
  }
  
  .action-points {
    font-size: 1.25em;
  }

}
