<navbar></navbar>

<pre>
{{ game.actionPrototypes | json }}
</pre>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ul ng-controller="GameListCtrl as gameList">
        <li ng-repeat="game in gameList.games">
          <div ng-controller="ModifyGameCtrl as modifyGame" ng-init="modifyGame.game = game">
            <pre>{{modifyGame.game | json}}</pre>
            <ul class="list-inline">
              <li ng-repeat="teamId in modifyGame.game.teams track by $index" ng-init="teamIndex = $index">
                <div class="btn-group" uib-dropdown>
                  <button type="button" class="btn" uib-dropdown-toggle>
                    {{teamId === null ? 'Empty' : gameList.getTeamById(teamId).name}} <span class="caret"></span>
                  </button>
                  <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                    <li role="menuitem">
                      <a href="#" ng-click="modifyGame.setTeam(teamIndex, null)">
                        Empty
                      </a>
                    </li>
                    <li class="divider"></li>
                    <li role="menuitem" ng-repeat="team in gameList.teams">
                      <a href="#" ng-click="modifyGame.setTeam(teamIndex, team._id)">
                        {{team.name}}
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            <ul>
            <button type="button" class="btn btn-danger" ng-click="gameList.deleteGame(game._id)">Delete Game</button>
          </div>
        </li>      
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" ng-controller="NewGameCtrl as newGame">
      <h3>New Game</h3>
      <button type="button" class="btn btn-primary" ng-click="newGame.addGame()">Add Game</button>
    </div>
  </div>
</div>

<!--

var GameSchema = new mongoose.Schema({
  // game parameters:
  // duration is in milliseconds!
  // the internal timer always counts up from zero to duration
  // however, the display counts down from duration to zero if clockIncreases is false
  duration:       { type: Number,                  required: true },
  clockIncreases: { type: Boolean, default: false, required: true },
  teams:          [{ type: mongoose.Schema.Types.ObjectId, ref: 'Team'}],
  // if clockRunning is true, the clock is running, and was equal to gameTimeAtEpoch
  //     when the *server's* wall clock time was equal to dateAtEpoch
  // if clockRunning is false, the clock is paused, and is equal to gameTimeAtEpoch
  // clockRunning should only be true for the current game (as defined below)
  dateAtEpoch:     { type: Date,    default: null,  required: false },
  gameTimeAtEpoch: { type: Number,  default: 0,     required: true },
  clockRunning:    { type: Boolean, default: false, required: true },
  // if queuePosition exists, the game is in the queue of upcoming games
  // ...except the first game in the queue (if it exists), which is the current game
  // if the game is not in the queue and dateCompleted exists, the game is in the
  //     completed games list
  // otherwise the game is on the 'scratchpad' of unplaced games
  queuePosition: { type: Number, default: null, required: false },
  dateCompleted: { type: Date,   default: null, required: false },
  // game state
  currentState: { type: State.schema },
  actions: [{ type: mongoose.Schema.Types.ObjectId, ref: 'Action'}]
});

-->

<footer></footer>
