<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <!--<ul>
        <li ng-repeat="game in gamesCtrl.gamesService.games">
          <pre>
            queuePosition: {{game.queuePosition | json}}
            queued: {{game.queued | json}}
            dateCompleted: {{game.dateCompleted | json}}
          </pre>
        </li>
      </ul>-->
      
      <h1>Queued</h1>
      <ul>
        <li ng-repeat="game in gamesCtrl.gamesService.games | filter:gamesCtrl.gamesService.queued | orderBy:'queuePosition'">
          <game game="game"></game>
          <button type="button" class="btn btn-default" ng-click="gamesCtrl.moveGameInQueue(game, -1)">
            Move up
          </button>
          <button type="button" class="btn btn-default" ng-click="gamesCtrl.moveGameInQueue(game, +1)">
            Move down
          </button>
        </li>
      </ul>
      <h1>Unqueued</h1>
      <ul>
        <li ng-repeat="game in gamesCtrl.gamesService.games | filter:gamesCtrl.gamesService.unqueued">
          <game game="game"></game>
          <button type="button" class="btn btn-default" ng-click="gamesCtrl.queueGame(game)">
            Queue
          </button>
        </li>
        <li>
          <button type="button" class="btn btn-primary" ng-click="gamesCtrl.addGame({duration: 5 * 60 * 1000})">
            Add New
          </button>
        </li>
      </ul>
      <h1>Finished</h1>
      <ul>
        <li ng-repeat="game in gamesCtrl.gamesService.games | filter:gamesCtrl.gamesService.completed | orderBy:'dateCompleted'">
          <game game="game"></game>
        </li>
      </ul>
      
    </div>
  </div>
</div>

<footer></footer>
